/* variables */
:root {
  --x-color: 255, 60, 21;
  --o-color: 105, 76, 255;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* reset button style */
button {
  cursor: pointer;
  outline: inherit;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  font: inherit;
}
