/* variables */
:root {
  --x-color: 255, 60, 21;
  --o-color: 105, 76, 255;
}

/* fonts */
@font-face {
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('opentype');
  font-family: 'Montserrat';
}

@font-face {
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('opentype');
  font-family: 'Poppins';
}

/* layout */
body {
  margin: 0;
  font-family: Montserrat, Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: inherit;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  font: inherit;
}
