.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbdbd;
  height: 2em;
  width: 2em;
  margin: 4px;
  border-radius: 5%;
}

.tile:hover {
  background-color: #696969;
}

.tile[data-symbol='X'] {
  background-color: #ff3c15;
}

.tile[data-symbol='O'] {
  background-color: #694cff;
}
