.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbdbd;
  opacity: 0.7;
  height: 2em;
  width: 2em;
  margin: 4px;
  border-radius: 5%;
  cursor: not-allowed;
}

.tile[data-highlight] {
  cursor: pointer;
  opacity: 1;
}

.tile[data-highlight]:hover {
  background-color: #696969;
}

.tile[data-symbol='X'] {
  background-color: #ff3c15;
}

.tile[data-symbol='O'] {
  background-color: #694cff;
}
