.menu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  border: medium solid #c4c6c9;
  border-radius: 20px;
  background-color: #171b21;
  padding: 2em;
}

.menu-title {
  width: 15em;
}

.menu-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 25%);
  width: 3em;
}

.menu small {
  opacity: 0.5;
  font-size: 0.75em;
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding: 0;
  list-style: none;
}

.menu-button {
  font-size: 1.3em;
}

.menu-button:hover {
  scale: 1.1;
  transition-duration: 0.1s;
}

.menu label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5em;
}

.menu fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
}

.menu fieldset > label {
  gap: 0.5em;
  font-size: 0.7em;
}

.menu fieldset > label > * {
  width: 10em;
}

.menu select,
.menu input {
  border-radius: 20px;
  font-size: 0.6em;
  text-align: center;
}
